@model IEnumerable<SeoulAirport.Flight_Arrivals>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FlightNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FlightNoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FlightNoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FlightNoID })
        </td>
    </tr>
}

</table>
